
/**
 * Copyright 2018 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


 project_id = "project_id"

 service_account_email = "service_account_email_address"

 instance_type = "n1-standard-16"

 instance_name = "sap-app-dr"

 region = "us-west1"

 source_disk_0 = "usclascs03"

 source_disk_1 = "usr-sap"

 source_disk_2 = "usr-scs"

 snapshot_name_0 = "usclascs03-snap"

 snapshot_name_1 = "usr-sap-snap"

 snapshot_name_2 = "usr-scs-snap"

 usc_class = "usclascs03"

 sap_user = "usr-sap"

 scs_user = "usr-scs"

 zone_1 = "us-central1-a"

 zone_2 = "us-west1-b"

 subnetwork = "sap-dev-west1"

 address_name = "gcp-app-dr-ip"

 network_tags = ["foo"]

 disk_type = "pd-ssd"

 pd_ssd_size = 250
