/**
 * Copyright 2018 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

  primary_instance_name = "sap-emptyha-terra-1"

  primary_instance_ip = "gcp-primary-instance-ip"

  secondary_instance_ip = "gcp-secondary-instance-ip"

  sap_vip_internal_address = "sap-vip-internal-address"

  secondary_instance_name = "sap-emptyha-terra-2"

  instance_type = "n1-standard-8"

  primary_zone = "primary-zone"

  secondary_zone = "secondary-zone"

  subnetwork = "host project subnetwork"

  project_id = "<service project>"

  subnetwork_project  = "host_project"

  region = "region"

  linux_image_family = "sles-12-sp3-sap"

  linux_image_project = "suse-sap-cloud"

  sap_vip = "10.0.10.176"

  sap_vip_secondary_range = "range-1"

  boot_disk_size = 300

  boot_disk_type = "pd-ssd"

  service_account_email = <service-account-email>

network_tags = ["ssh", "http-server", "https-server"]

 ip_cidr_range = "<secondary_ip CIDR_Range>"

  public_ip              = false
