/**
 * Copyright 2018 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

linux_image_family = "sles-12-sp2-sap"

linux_image_project = "suse-sap-cloud"

instance_type = "<instance_type>"

service_account_email = "<service-account-email>"

project_id = "<project-id>"

boot_disk_size = 30

network_tags = []

subnetwork = "default"

region = "us-central1"

usr_sap_size = 15

sap_mnt_size = 15

swap_size = 24

zone = "us-central1-b"

instance_count = 1

boot_disk_type = "pd-ssd"

pd_ssd_size = 15

pd_standard_size = 15

instance_count_master = 1

aseSID = "D01"

asesidSize = 10

asediagSize = 15

asesaptempSize = 20

asesapdataSize = 50

aselogSize = 30

asebackupSize = 100

asesapdataSSD = "Yes"

aselogSSD = "Yes"

sap_ase_sid = "sap_ase_sid"
