subnetwork                 = "default"
network_tags               = ["foo"]
linux_image_family         = "sles-12-sp3-sap"
linux_image_project        = "suse-sap-cloud"
instance_name              = "<my_instance_name>"
instance_type              = "n1-highmem-16"
disk_type                  = "pd-ssd"
project_id                 = "<my_project_id>"
service_account_email      = "<my_service_account_email_email>"
boot_disk_type             = "pd-ssd"
boot_disk_size             = 64
autodelete_disk            = "true"
pd_ssd_size                = 450

sap_hana_deployment_bucket = "<my_sap_hana_deployment_bucket_name>"
sap_deployment_debug       = "false"

startup_script             = "${path.root}/files/startup.sh"
sap_hana_sid               = "D10"
sap_hana_instance_number   = 10
sap_hana_sidadm_password   = "Google123"
sap_hana_system_password   = "Google123"
sap_hana_sidadm_uid        = 900
sap_hana_sapsys_gid        = 900